@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font: {
    size: 16px;
    family: 'Raleway', sans-serif;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  overflow: hidden;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 2.5em;
  background-color: var(--color7);
  color: var(--color2);
  box-shadow:
    0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

.main-container {
  width: 90%;
  max-width: 480px;
  height: 400px;
  box-shadow:
    0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

.game-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85px 1fr 85px;

  &__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: var(--color4);

    .players {
      position: relative;
      z-index: 100;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      [class^="player-"] {
        position: relative;
        width: 47%;
        height: 50px;
        line-height: 55px;
        font-family: sans-serif;
        font-size: 1.75em;
        color: var(--color6);
        font-weight: 600;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        box-shadow:
          0 1px 3px rgba(0,0,0,0.12),
          0 1px 2px rgba(0,0,0,0.24);

        &.current {
          box-shadow:
            0 7px 10px rgba(0, 0, 0, 0.15),
            0 3px 5px rgba(0, 0, 0, 0.10),
            inset 0 -3px 0px var(--color2);
        }
      }

      .player-X {
        
        .name {
          @include cross(30px, 5px, var(--color6));
          top: 50%;
          transform: translateY(-50%);
          left: .25em;
        }

        .points {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: .25em;
        }
      }
      
      .player-O {
        
        .name {
          @include circle(30px, 5px, var(--color6));
          top: 50%;
          transform: translateY(-50%);
          right: .25em;
        }

        .points {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: .25em;
        }
      }
    }
  }

  &__body {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;

    .game-grid {
      width: 192px;
      height: 192px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 6px;
      background: var(--color1);

      .cell {
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // font-size: 2em;
        // font-weight: 600;
        background: var(--color2);
        cursor: pointer;
      }
    }
  }

  &__footer {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);

    .btn-reset {
      width: 197px;
      height: 50px;
      margin: 0 auto;
      border: none;
      background: var(--color4);
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 600;
      color: var(--color2);
      cursor: pointer;
      transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);

        &:hover {
          color: var(--color1);
          box-shadow:
            0 7px 10px rgba(0, 0, 0, 0.25),
            0 5px 5px rgba(0, 0, 0, 0.15),
            inset 0 -3px 0px var(--color2);
        }
    }
  }
}

.modal {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(0,0,0, 0.5);
  opacity: 0;
  transition: opacity .3s ease;

  .result {
    position: relative;
    // width: 80%;
    width: 90%;
    max-width: 480px;
    height: 200px;
    margin: 0 auto 0;
    border-radius: 40px 20px 40px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color5);
    color: var(--color6);
    font-size: 3em;

    #result {
      span {
        font-weight: 600;
      }
    }

    .btn-close {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      background-color: var(--color1);
      color: var(--color5);
      font-size: .5em;
      cursor: pointer;
    }
  }
}

.cross {
  @include cross(30px, 5px, var(--color6));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hide {
    display: none;
  }
}

.circle {
  @include circle(30px, 5px, var(--color5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hide {
    display: none;
  }
}
